/*searchbar*/
.form-control {
    min-width: 775px;
    width: 100%;
}
/*checkbox*/
.darkTheme {
 background-color: black;
 margin-left: 1em;
 margin-right: 2em;
}
#cbox {
 margin-right: 1em;
}
/*logo*/
.navbar-brand {
height: 152px;
width: 50px;
}
