/*searchbar*/
.form-group {
    width: 80%;
}
/*checkbox*/
.darkTheme {
 background-color: black;
 margin-left: 5em;
 margin-right: 2em;
}
#cbox {
 margin-right: 1em;
}
/*logo*/
#logo {
height: 20%;
width: 20%;
}




